.searchmap {
  margin-top: 50px;
  margin-left: 205px;

  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin-bottom: 31px;
  }

  .map-area {
    display: flex;
    align-items: center;

    .map-box {
      width: 550px;
      height: 286px;
      background: #f5fbff;
      border: 1px solid #e0f2fe;
      border-radius: 0px 16px 16px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;

      h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #000;
        position: absolute;
        top: 80px;
      }

      .map-search {
        display: flex;
        align-items: center;

        select {
          width: 236px;
          height: 44px;
          padding: 10px;
          background: #fff;
          border: 1px solid #0086c9;
          border-radius: 16px;
          -webkit-appearance: none;
          appearance: none;
          background: url("../../assets/home/selectdown.png");
          background-origin: content-box;
          background-repeat: no-repeat;
          background-position: right center;
          cursor: pointer;
          margin-right: 10px;
          outline: none;

          & option {
            font-size: 14px;
            background-color: #fff;
          }

          &::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
            color: #98a2b3;
          }
        }

        button {
          width: 44px;
          height: 44px;
          padding: 10px;
          background: #f79009;
          border-radius: 16px;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .searchmap {
    margin-left: 40px;

    .map-area {
      iframe {
        width: 60%;
      }
      .map-box {
        width: 450px;
      }
    }
  }
}

@media only screen and (max-width: 1380px) {
  .searchmap {
    margin: 35px;
    .map-area {
      justify-content: center;
      iframe {
        width: 100%;
      }
      .map-box {
        width: 600px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .searchmap {
    h2 {
      text-align: center;
      margin: 30px 0px 0px;
      padding-bottom: 30px;
    }

    .map-area {
      display: flex;
      flex-direction: column-reverse;

      iframe {
        width: 100%;
        $iframe-border-radius: 0;
      }
      .map-box {
        width: 100%;
        border-radius: 0;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .searchmap {
    h2 {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 440px) {
  .searchmap {
    h2 {
      font-size: 18px;
    }
  }
}
